<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/assets/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Management system." />
        <meta name="keywords" content="Management system" />
        <meta name="author" content="tonydev" />
        <title>Fiverscan Login</title>

        <link rel="stylesheet" href="/assets/plugins/toastr/css/toastr.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" />
    </head>

    <body class="login">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen">
                    <div class="my-auto">
                        <img class="-intro-x w-1/2 -mt-16" src="/assets/images/bg-login-page.png" draggable="false" />
                        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">CASINO SOLUTION</div>
                    </div>
                </div>

                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div
                        class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
                    >
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-center">Fiverscan</h2>
                        <form class="mt-4 mb-5 login-input" id="login-form">
                            <div class="intro-x mt-2">
                                <input
                                    type="text"
                                    id="agent_code"
                                    class="intro-x login__input input input--lg border border-gray-300 block"
                                    placeholder="Please input login code."
                                    autocomplete="off"
                                />
                                <input
                                    type="password"
                                    id="password"
                                    class="intro-x login__input input input--lg border border-gray-300 block mt-4"
                                    placeholder="Please input your password."
                                    autocomplete="off"
                                />
                            </div>
                            <div class="intro-x mt-2 xl:mt-4 text-center xl:text-center" style="display: flex !important; justify-content: center !important">
                                <button
                                    type="submit"
                                    id="btn-login"
                                    class="button button--lg w-full mb-2 flex items-center justify-center bg-theme-1 text-white"
                                >
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
        <script src="/assets/plugins/toastr/js/toastr.min.js"></script>
        <script src="/assets/js/app.js"></script>
        <script>
            function validate(data) {
                if (data.agentCode == "") {
                    toastr.warning("Please check up login code.", "Warning");
                    $("#agent_code").focus();
                    return false;
                }

                if (data.password == "") {
                    toastr.warning("Please check up password.", "Warning");
                    $("#password").focus();
                    return false;
                }

                return true;
            }

            $("#login-form").submit(function (event) {
                event.preventDefault();

                const requestData = {
                    agentCode: $("#agent_code").val(),
                    password: $("#password").val(),
                };

                if (!validate(requestData)) {
                    return;
                }

                $("#btn-login").attr("disabled", true);

                $.ajax({
                    type: "POST",
                    url: "/api/auth/login",
                    data: requestData,
                    success: function (response) {
                        if (response.status) {
                            window.location.href = response.redirectUrl;
                        } else {
                            if (response.msg == "INCORRECT_PASSWORD") {
                                toastr.error("Incorrect Password", "Error");
                            } else if (response.msg == "BLOCKED_AGENT") {
                                toastr.error("Blocked Agent", "Error");
                            } else {
                                toastr.error("Login Request Failed.", "Error");
                            }
                        }
                        $("#btn-login").removeAttr("disabled");
                    },
                    error: function (error) {
                        toastr.error("NetWork Error", "Error");
                        $("#btn-login").removeAttr("disabled");
                    },
                });
            });
        </script>
    </body>
</html>
