<div class="cursor-pointer shadow-md fixed bottom-0 right-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
    <div class="mr-4 text-gray-700 dark:text-gray-300"><%= __('footer.dark_mode') %></div>
    <input id="theme" class="show-code input input--switch border" type="checkbox" />
</div>

<script src="/assets/js/app.js"></script>
<script src="/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="/assets/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="/assets/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/jquery.treetable/jquery.treetable.js"></script>
<script src="/assets/plugins/toastr/js/toastr.min.js"></script>
<script src="/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/tail/tail.select.min.js"></script>
<script src="/assets/plugins/tail/tail.select-ko.js"></script>
<script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="/assets/js/custom.js"></script>
