<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/assets/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Management system." />
    <meta name="keywords" content="Management system" />
    <meta name="author" content="tonydev" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="/assets/plugins/jquery.treetable/jquery.treetable.css" />
    <link rel="stylesheet" href="/assets/plugins/jquery.treetable/jquery.treetable.theme.default.css" />
    <link rel="stylesheet" href="/assets/plugins/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="/assets/plugins/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
</head>
